/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
h1 {
  font-family: "Merriweather", serif;
  text-align: left;
  color: black;
  text-decoration: underline;
  background-color: skyblue;
}

h3 {
  font-family: "Merriweather", serif;
  text-align: left;
  color: black;
  background-color: skyblue;
}

body {
  background-color: #00bcd4;
}

.novel {
  float: left;
}
